name: CI

on:
  - push
  - pull_request

permissions: {}

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4
        with:
          persist-credentials: false
      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1
        with:
          bundler-cache: true
      - name: Run RuboCop
        run: bundle exec rubocop

  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    strategy:
      fail-fast: false
      matrix:
        ruby:
          # EOL Rubies, best effort support only
          - "2.6"
          - "2.7"
          - "3.0"
          - "3.1"
          # active support
          - "3.2" # EOL: 2026-03-31 (expected)
          - "3.3" # EOL: 2027-03-31 (expected)
          - "3.4"
          - "4.0"
          # try Ruby head too
          - "head"
        gemfile:
          - gemfiles/faraday_1.gemfile
          - gemfiles/faraday_2.gemfile
    continue-on-error: ${{ matrix.ruby == 'head' }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4
        with:
          persist-credentials: false
      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run RSpec
        run: bundle exec rspec
